{%- extends "crud/update_layout.html" %}
{%- block content %}
<main>
  <div class="main-blog">
    <div class="update">
      <h2>編集ページ</h2>
    </div>
    <div class="container">
      <form method="POST">
        <div class="item">
          <label for="title">タイトル</label>
          <input type="text" name="title" value={{ post.title }}>
        </div>
        <div class="item">
          <label for="short_content">一覧用記事</label>
          <textarea type="textarea" name="short_content"></textarea>
        </div>
        <div class="item">
          <label for="content">記事json</label>
          <textarea type="textarea" name="content" value={{ post.content }}></textarea>
        </div>
        <div class="item">
          <label for="text">写真URL</label>
          <input type="text" name="image_path" value={{ post.image_path }}>
        </div>
        <input class="button" type="submit" value="更新">
      </form>
    </div>
    <aside>
      <div>
        <h3 class="aside-profile">プロフィール</h3>
        <img class="profile-image" src={{ url_for("crud.static", filename="images/photo1.svg" )}} alt="image">
        <p class="aside-mane">Author : 事務員</p>
        <p class="aside-pi">アラフィフ事務員<br>プログラミング勉強中
        </p>
        <ul class="aside-ul">
          <li class="aside-li"><a {% if index %} active{% endif %} href={{ url_for("crud.index")}}><i
                class="fa-solid fa-house fa-fw" style="margin-right: 5px;"></i>HOME</a></li>
          <li class="aside-li"><a {% if about %} active{% endif %} href={{ url_for("crud.about")}}><i
                class="fa-solid fa-person-walking fa-fw" style="margin-right: 5px;"></i>ABOUT</a></li>
          <li class="aside-li"><a {% if articles %} active{% endif %} href={{ url_for("crud.articles")}}><i
                class="fa-solid fa-list-ul fa-fw" style="margin-right: 5px;"></i>ARTICLES</a></li>
          <li class="aside-li"><a {% if articles %} active{% endif %} href={{ url_for("crud.contact")}}><i
                class="fa-brands fa-twitter fa-fw" style="margin-right: 5px;"></i>CONTACT</a></li>
        </ul>
      </div>
    </aside>
  </div>
  <!--blog-wrapper-->
</main>
{%- endblock %}